{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %} Reborn - Registration {% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container-fluid">
        <section class="container">
            <div class="container-page">
                <div class="col-lg-12">
                    <h1 class="page-header">Votre inscription est validé.
                    </h1>
                </div>
                <div class="col-md-12">
                    <br />
                    <h3>Vous pouvez maintenant avoir accès à votre profil et au forum !</h3>
                    <br>
                    questions / réclamations ? contactez nous à cette adresse : <strong>contacts.reborn@gmail.com</strong>
                </div>
            </div>
        </section>
    </div>
{% endblock fos_user_content %}
