{% extends "base.html.twig" %}
{% block title %} Reborn - Registration {% endblock %}
{% block body %}
    <div class="container">
        <div class="col-lg-12">
            <h1 class="page-header">Inscription</h1>
        </div>
        <div class="col-md-6">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock %}
