{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <h1>Métempsycose</h1>
    </header>
    <div id="content">
        <div class="banner">
            <div class="banner-content">
                <h2>
                    A propos du recrutement <br><br>
                </h2>
                <a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-check"></span> En savoir plus</a>
            </div>
        </div>
        <div class="content-separator-title">
            <p class="left">
                L'ACTUALITÉ CHEZ MÉTEMPSYCOSE
            </p>
            <p class="right">
                RECRUTEMENT
            </p>
        </div>
        <div class="section-primary-left">
            <div class="section primary-news">
                <div class="img-news">
                    <img src="{{ asset('images/homepage/banner_blog.jpg') }}" alt="">
                </div>
                <div class="content-text-news">
                    <div class="head-title">
                        The benefit of simple living that no one talks about
                    </div>
                    <div class="paragraph primary-news">
                        Technology has two faces. We all feel it, but sometimes can’t
                    </div>
                </div>
            </div>
            <hr class="w800 left">
            <div class="section secondary-news">
                <div class="article-secondary left">
                    We travel not to escape life, but for life not to escape us
                    <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;20 Jan, 2016</p>
                </div>
                <div class="article-secondary right">
                    We travel not to escape life, but for life not to escape us test
                    <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;20 Jan, 2016</p>
                </div>
            </div>
            <hr class="w800 left">
            <div class="section secondary-news">
                <div class="article-secondary left">
                    We travel not to escape life, but for life not to escape us
                    <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;20 Jan, 2016</p>
                </div>
                <div class="article-secondary right">
                    We travel not to escape life, but for life not to escape us
                    <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;20 Jan, 2016</p>
                </div>
            </div>
        </div>
        <div class="section-primary-right">
            <div class="section-primary-recrutement">


            </div>
        </div>
    </div>

    <footer>

    </footer>
{% endblock %}