{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <h1>Métempsycose</h1>
    </header>
    <div id="content">
        <div class="banner">
            <div class="banner-content">
                <h2>
                    A propos du recrutement <br><br>
                </h2>
                <a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-check"></span> En savoir plus</a>
            </div>
        </div>
    </div>
    <footer>

    </footer>
{% endblock %}