body {
    font-family: 'Open Sans' , sans-serif;
}
header {
    height:200px;
    width:1100px;
    margin:auto;
}
header img {
    display: block;
    margin: auto;
}
.navbar-brand>img {
    display: block;
    width: 100%;
    position: absolute;
    top: 11px;
    left: 30px;
}
.banner {
    background: url('../images/homepage/banner2.jpg') 0 -119px;
    width: 100%;
    height: 200px;
    background-size: 100%;
}
.banner-content {
    padding:25px;
}
.banner h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
}
#content {
    width: 1100px;
    min-height: 1000px;
    background-color: #3F403F;
    margin:auto;
}
.content-separator-title {
    height:40px;
    width: 100%;
    background-color: #242424;
    color: #ffffff;
    padding:0 25px;
}
.content-separator-title p {
    line-height: 40px;
}
.left {
    float: left;
}
.right {
    float: right
}
.section {
    width:800px;
    height:249px;
    margin:28px 0 1px 25px;
    clear: both;
}
.section.primary-news {
    color: #ffffff;
}
.section.secondary-news {
    height:80px;
}
.img-news {
    width:388px;
    display: inline-block;
}
.content-text-news {
    width:45%;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
.article-secondary {
    width: 350px;
    height: 80px;
    border-left: 3px solid #D8D8DB;
    padding-left: 15px;
    color: #ffffff;
}
.article-secondary p {
    margin-top: 15px;
}
.w800 {
    width:785px;
    margin-left:25px;
}
.section-primary-left {
    width:825px;
    display: inline-block;
}
.section-primary-right {
    width: 275px;
    background-color: #787f7b;
    height: 300px;
    float: right;
    padding:35px 20px;
}
.section-primary-recrutement td {
    margin-bottom:10px;
}
.class img {
    vertical-align: middle;
}
.class span {
    color: #ffffff;
    font-size:12px;
}
.speciality {
    text-align: right;
    vertical-align: middle;
}
.content-separator-title p {
    margin:0;
}
.left-horn {
    position: absolute;
    top: 4px;
    left: 626px;
}
.right-horn {
    position: absolute;
    top: 0;
    right: 620px;
}
.illidan-eyes {
    position: absolute;
    top: 109px;
    left: 784px;
    opacity: 0;
}
.nav.navbar-nav.navbar-right li:last-child a {
    color: #5CB85C;
}




/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}